[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "LowWAFOMNX"]
	path = LowWAFOMNX
	url = https://github.com/mersennetwister-lab/lowwafomnx
[submodule "LowWAFOMSobol"]
	path = LowWAFOMSobol
	url = https://github.com/mersennetwister-lab/lowwafomsobol
